<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <div>
            <input type="text" name="username" placeholder="Enter username">
        </div>
        <div>
            <textarea name="content" placeholder="Write ur post"></textarea>
        </div>
        <button>Submit post</button>
    </form>
</body>
</html>